Label,
Text,
Button,
TextInput {
    -fx-font-size: 14px;
}

#titleLabel {
    -fx-font-size: 20px;
}

#errorLabel,
#errorLabelR {
    -fx-text-fill: red;
}

#weatherNowTemperature,
#NowTimeHourAndMinutes,
#titleLabelWelcome {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

#weatherNowFeelsLike,
#weatherNowDescription {
    -fx-font-size: 14px;
}

.forecast-text {
    -fx-font-size: 12px;
    -fx-text-alignment: center;
}
.forecast-image {
    -fx-fit-height: 80.0;
    -fx-fit-width: 80.0;
}

#forecastTemperature8,
#forecastTemperature10,
#forecastTemperature12,
#forecastTemperature14 {
    -fx-font-size: 10.5px;

}

#forecastTemperature9,
#forecastTemperature11,
#forecastTemperature13,
#forecastTemperature15 {
    -fx-font-size: 15px;
}

#forecastTemperature0,
#forecastTemperature1,
#forecastTemperature2,
#forecastTemperature3,
#forecastTemperature4,
#forecastTemperature5,
#forecastTemperature6,
#forecastTemperature7 {
    -fx-font-size: 18px;
}

