/* style.css */

* {
    -fx-font-size: 14px;
}

/* Zaokrąglone narożniki dla VBox */
.vbox-rounded {
    -fx-background-radius: 30;
}

/* Większa czcionka dla "POGODA ZAWSZE POD RĘKĄ" */
#titleLabel {
    -fx-font-size: 20px;
}

/* Czerwony kolor dla wszystkich labeli o id "errorLabel" */
#errorCityLabel,
#errorCountryLabel {
    -fx-text-fill: red;
}

/* Duża i pogrubiona czcionka dla "weatherNowTemperature" oraz "NowTimeHourAndMinutes" */
#weatherNowTemperature, #NowTimeHourAndMinutes {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

/* Czcionka większa trochę od standardowej dla "weatherNowFeelsLike" oraz "weatherNowDescription" */
#weatherNowFeelsLike, #weatherNowDescription {
    -fx-font-size: 14px;
}

/* Dodatkowe style dla VBox na prognozę godzinową */
.forecast-vbox {
    -fx-background-color: #bbddf0;
}
.forecast-text {
    -fx-font-size: 12px;
    -fx-text-alignment: center;
}
.forecast-image {
    -fx-fit-height: 80.0;
    -fx-fit-width: 80.0;
}

#forecastTemperature8,
#forecastTemperature10,
#forecastTemperature12,
#forecastTemperature14 {
    -fx-font-size: 11px;

}

#forecastTemperature9,
#forecastTemperature11,
#forecastTemperature13,
#forecastTemperature15 {
    -fx-font-size: 15px;
}

#forecastTemperature0,
#forecastTemperature1,
#forecastTemperature2,
#forecastTemperature3,
#forecastTemperature4,
#forecastTemperature5,
#forecastTemperature6,
#forecastTemperature7 {
    -fx-font-size: 18px;
}
